#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	min-height: 100svh;
	overflow-x: hidden;
	background: transparent;
	color: #fcfff5;
	padding: 0 2rem;
}

.bg-wrapper {
	background-image: url(../assets/mainBg.webp);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.atropos {
	transition: opacity 0.25s ease-in-out;
}

.card {
	background-image: url(../assets/bg.png);
}

.card-clicked {
	opacity: 0;
}

.flipped {
	transform: scaleX(-1);
}

.atropos-inner {
	pointer-events: none;
}

.atropos-rotate {
	pointer-events: none;
}

.won.appear,
.lost.appear {
	animation: appear 0.2s ease forwards;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.lostBg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../assets/pikaSad.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: brightness(35%);
	border-radius: 5px;
	z-index: -1;
}

.wonBg {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('../assets/happyPika.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: brightness(35%);
	border-radius: 5px;
	z-index: -1;
}

.disabled {
	pointer-events: none;
}
