#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	min-height: 100svh;
	background-color: #18162f;
	color: #fcfff5;
}

.card {
	background-image: url(./assets/bg.png);
}

.flipped {
	transform: scaleX(-1);
}
